<p> The most popular TV Shows in Korea</p>
  
  <mat-label> Filter by Year </mat-label>
  <mat-chip-listbox (ngModel)="years" (change)="sortingPopular()" required>
	<mat-chip-option value="2023"> 2023 </mat-chip-option> 
  </mat-chip-listbox>
<mat-paginator 
[length]="totalPages" 
[pageSize]="pageSize" 
[pageIndex]="currentPage - 1" 
(page)="onPageChange($event)">
</mat-paginator>
<div class="container-card">
	<div class="card" *ngFor="let movie of movies">
	  <div class="cta">
		<ng-container *ngIf="movie.poster_path">
		  <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}">
		</ng-container>
		<div class="card__content">
		  <p class="vote-card">{{movie.original_name}} <br><strong>Popularity</strong> <br> <span class="material-icons">favorite  </span> {{ movie.popularity }} Likes </p>
		  <button class="card__button"><a [routerLink]="['/movie', movie.id]">Show Details</a></button>
		</div>
	  </div>
	</div>